version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: tresor-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: tresordb
      MYSQL_USER: tresoruser
      MYSQL_PASSWORD: tresorpass
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - backend_network

volumes:
  mysql_data:

networks:
  backend_network: